@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

*{
  font-family: "Anonymous Pro", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body{
  display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F1F1;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #A1A6B4;
    background: white;
}

.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: 24px 0 24px;
}

.header__logo{
  max-width: 215px;
}

.nav__list{
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 24px;
}

.nav__list-hyper{
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.main{
  width: 1140px;
  margin: 0 150px;
}

.main__title {
  color: #121723;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  margin: 32px 0;
}

.cards{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.sneaker {
  display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 364px;
    height: 100%;
    border-radius: 12px;
    background: white;
    transition: 200ms ease-in-out;
}

.sneaker:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}

.sneaker__image {
  display: block;
  height: 254px;
  width: 364px;
  border-radius: 12px 12px 0 0;
}

.frame{
  width: 316px;
  height: auto;
  background-color: #FFFFFF;
  padding: 32px 24px;
  border-radius: 0 0 12px 12px;
  color: #121723;
}

.sneaker__title {
  font-size: 26px;
  font-weight: 700;
}

.sneaker__text {
  font-size: 20px;
  font-weight: 400;
  padding-top: 12px;
}


/* для отдельных страниц кросовок */
.main__content{
  display: flex;
  max-width: 1140px;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 50px;
  background: #FFF;
  margin-top: 32px;
}
.sneakerBig__image {
  width: 100%;
  height: auto;
}
.sneakerBig__title {
  color: #121723;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
}
.sneakerBig__underTitle {
  color: #121723;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.wrapper {
  display: grid;
  grid-template: auto / 506px 506px;
  gap: 32px;
}
.sneakerBig__text {
  color: #121723;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
}
.parameters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.parameters__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

}
.parameters-header__title {
  color: #121723;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.parameter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.hr{
  width: 100%;
  background-color: #121723;
}
.parameter__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.parameter-text__title {
  color:#121723;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.parameter-text__value {
  color:#121723;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}


.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121723;
  margin-top: 32px;
}

.footer__container{
  display: flex;
  height: 87px;
  width: 100%;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6E8EC66;
}

.footer__logo{
  max-width: 300px;
  width: 100%;
}

.nav__list-elem{
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.footer__copyrate{
  display: flex;
  height: 55px;
  justify-content: center;
  padding: 18px 0 21px 0;
  font-size: 16px;
  font-weight: 700;
  color: #A1A6B4;
}


@media (max-width: 375px) {
  body{
    max-width: 375px;
  }
  .header-container{
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
    height: auto;
    align-items: center;
  }
  .main{
    width: auto;
    margin: 0 16px;
  }
  .main__title {
    font-size: 32px;
  }
  .sneaker {
    width: 100%;
  }
  .sneaker__image {
    width: 100%;
    height: 254px;
  }
  .frame {
    width: auto;
  }
  .footer__container{
    width: auto;
    padding: 0 16px;
    margin: 0;
    flex-direction: column;
    padding: 24px 16px;
    gap: 32px;
    height: auto;
    align-items: center;
  }
  .footer__logo{
    width: 300px;
    height: 22px;
  }
  .footer__copyrate{
    height: auto;
  }

  /*Для доп. страниц кросовок*/
  .main__content {
    width: auto;
    padding: 24px;
    border-radius: 12px;
  }
  .sneakerBig__image {
    height: 172px;
  }
  .sneakerBig__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
  }
  .sneakerBig__underTitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
  }
  .wrapper {
    grid-template: auto auto / 295px
  }
  .sneakerBig__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  .parameters-header__title {
    font-size: 24px;
  }
  .parameter__text {
    font-size: 16px;
  }
}